src/main/resources/CoPathDump.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Wed May 08 2019 20:39:08 GMT-0400 (Eastern Daylight Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="CoPathDump">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Patient" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="Case" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="CasePart" maxOccurs="unbounded">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="CasePartSynopticReport" maxOccurs="unbounded">
                                                                                       <xs:complexType>
                                                                                             <xs:sequence>
                                                                                                   <xs:element name="CPSRItem" maxOccurs="unbounded">
                                                                                                         <xs:complexType>
                                                                                                               <xs:sequence>
                                                                                                                     <xs:element name="CPSRItemValue" maxOccurs="unbounded">
                                                                                                                           <xs:complexType><xs:simpleContent><xs:extension base="xs:string">
                                                                                                                                 <xs:attribute name="valName" type="xs:string"></xs:attribute>
                                                                                                                                 <xs:attribute name="valNameDisp" type="xs:string"></xs:attribute>
                                                                                                                                 <xs:attribute name="snomedConceptId" type="xs:string"></xs:attribute>
                                                                                                                           </xs:extension></xs:simpleContent></xs:complexType>
                                                                                                                     </xs:element>
                                                                                                               </xs:sequence>
                                                                                                               <xs:attribute name="number" type="xs:int"></xs:attribute>
                                                                                                               <xs:attribute name="itemName" type="xs:string"></xs:attribute>
                                                                                                               <xs:attribute name="itemNameDisp" type="xs:string"></xs:attribute>
                                                                                                         </xs:complexType>
                                                                                                   </xs:element>
                                                                                             </xs:sequence>
                                                                                             <xs:attribute name="srName" type="xs:string"></xs:attribute>
                                                                                             <xs:attribute name="srNameDisp" type="xs:string"></xs:attribute>
                                                                                             <xs:attribute name="srVersion" type="xs:string"></xs:attribute>
                                                                                       </xs:complexType>
                                                                                 </xs:element>
                                                                           </xs:sequence>
                                                                           <xs:attribute name="designator" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="partType" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="partTypeDisp" type="xs:string"></xs:attribute>
                                                                           <xs:attribute name="description" type="xs:string"></xs:attribute>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="accessionNumber" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="mrn" type="xs:string"></xs:attribute>                                                         
                                                         <xs:attribute name="mrnCount" type="xs:int"></xs:attribute>                                                         
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="empi" type="xs:string"></xs:attribute>
                                       <xs:attribute name="sourceRecord" type="xs:string"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
                     <xs:attribute name="dumpDate" type="xs:string"></xs:attribute>
                     <xs:attribute name="version" type="xs:string"></xs:attribute>
               </xs:complexType>
         </xs:element>
   </xs:schema>